/*CLASES REUTILIZABLES*/

body > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  display: absolute;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

/* ------ HEADER ------*/
header {
  background-color: white;
  box-sizing: content-box;
  color: rgb(31, 30, 30);
  position: fixed;
  top:0;
  width: 100%
}

header div {
  display: inline-flex;
  height: 78px;
  position: relative;
  width: 100%;
}

header > div > a {
  align-content: center;
  font-size: 1.1em;
  font-weight: 900;
  padding: 1.2em 2em .5em 1.6em;
  position: relative; 
}

header div img {
  height: 75px;
  padding-left: 686px;
  width: 75px;
}

/* ------ MAIN ----- */
body > section {
  text-align: center;
} 

body > #main {
  background-image: url("./../assets/images/bg-home.jpg");
  background-size: cover;
  color: white;
  display: absolute;
  height: 519px;
  margin-top: 79px;
  text-align: center;
  width: 100%;
} 

body #main div p {
  margin-bottom: 52px;
}

body #main div h2 {
  margin-top: 62px;
}

body #main div h1 {
  margin-top: 62px;
  font-size: 3em;
}

body #main div p {
  margin-bottom: 5em;
}

body > #main > div > a {
  background-color: rgb(70, 194, 70);
  border: 1px solid rgb(70, 194, 70);
  color: white;
  padding: 1em 1.5em;
}

/* ------ SERVICES ------*/

body #services {
  border: 1px solid #E95853;
  background-color: #E95853;
  color: white;
  width: 100%;
}

body #services h2 {
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: 2px;
  padding-top: 1.5em;
}

/* Apartado de las columnas en Services */
body #services .container {
  display: inline-block;
  padding: 4em 0 4em 0;
  width: 25%;
}

body #services .container img {
  height: 60%;
  padding-bottom: 1.5em;
  width: 60%;
}

body #services .container h6 {
  font-size: .7em;
}

/* ------ WORK ------*/

body #work {
  padding-bottom: 7em;
}

body #work div {
  box-sizing: border-box;
  padding: 1em 0 .5em 0;
  width: 100%;
}

body #work h2 {
  font-size: 2.2em;
  font-weight: 900;
  letter-spacing: 2px;
}

body #work h4 {
  padding-bottom: 2em;
}

body #work div img {
  width: 70%;
}

/* ----- COLUMNAS DE LOS PRODUCTOS EN WORK ------- */
body #work #products {
  box-sizing: border-box;
  display: inline;
  width: 100%;
}

body #work #products .container {
  align-content: center;
  display: inline-flex;
}

body #work #products .container article {
  display: block;
  width: 33%;
}

body #work #products .container article a {
  display: block;
  font-size: 1em;
  font-weight: bolder;
  padding-top: 1.5em;
  width: 100%;
}

body #work #products .container article img {
  display: block;
  height: 80%;
  padding: 2em 1.7em 0 1.7em ;
  width: 80%;
}

/* ------ FOOTER ------ */
footer {
  box-sizing: border-box;
  background-color: #373B47;
  color: white;
  padding: .5em;
  position: relative;
  text-align: center;
  width: 100%;
}